body {
  background-color: #3A7E37;
}

.cell {
  background-color: #be9867 !important;
}

.cell:nth-child(16n+2), .cell:nth-child(16n+4), .cell:nth-child(16n+6), .cell:nth-child(16n+8),
.cell:nth-child(16n+9), .cell:nth-child(16n+11), .cell:nth-child(16n+13), .cell:nth-child(16n+15) {
  background-color: #eec897 !important;
}

.el:hover {
  position: relative;
  top: 10px;
}
